# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
cache/62a7a3e13b2b86922b88b5abb3ab215bd5e2c67a.json
cache/393464b564a90f8dd8a4948a682da59ae5aa6480.json
cache/a587f634685c83623f1f7251ad1d7cef1c4955d1.json
cache/e25000f92033730bdf2f51f64e01b5d3c9608c62.json
cache/c714ddff8e41402ba6d57b813cebbca02081831e.json
cache/0a4bca5d3ea06702b33e15146c762a9fa75c758d.json
cache/618e86b55ad1dfb7e11cccf8842f893e2014db2e.json
cache/0f7133d1db76484a7961fd54fde7ce7aee2fd9eb.json
cache/6bce98d97782a3a4ee0619f46d94706b36cf5028.json
cache/6fa8b87013af45fec47bda71e0b4439b4180cb08.json
cache/7ebaaeb5502c45f72f6cbde7932e9b2aad5ae6b1.json
cache/7e33e771ac21c562038ec0c867a4fe2f24525a7c.json
cache/108f42a712954fb254f018c892c9beb71621e38e.json
cache/31d43393a7542b39106d4bc4dd2b855a4307e261.json
cache/28d12311f6128460009bdb6a2f6cb6844570abf4.json
cache/23b192fc2f39dd7de55aa33ab5f1071daf6f0e0c.json
cache/18d2ab05168d7159a250ab89099a5efbab6ae039.json
cache/8e4b7cff8d342fb64192de5116fe70751d3c235d.json
cache/69eb975ee337a255025e26d3fb1c8f70a6058660.json
cache/31c75eacb8e934ae5c100cf989fe93a032966734.json
cache/74dfd406ae4785e9a6d6d9b69f26beb70c79381f.json
cache/79a2285f7907b902a53f9b0a8470ab65ef3a753f.json
cache/319dd9db3e2b870f4c75c78026e752cc421ba5c7.json
cache/352c4f533ff16739420e9404ec1611e7b94154ae.json
cache/af35fac24fb9f4f6d945d3b047c286d535839c99.json
cache/a620dd7ff4b744736143f2c2133f59abeb0bd283.json
cache/658627d65344f533e51b1842d64142a858161c05.json
cache/2670c0de2b6507331f33132f4716efadbf5d7035.json
cache/637e046d1e1ca6ab8bde194d9fbed9f2d7cddf7c.json
cache/919d6d3205444bdb957aa55df4586b774c935909.json
cache/746db8a6849cac42f606b296d4df0e9d9f5fb403.json
cache/5115069dd544710194e340b5c279652c1dd03c24.json
cache/e5b634bce36b63e8846d8592829153fdb9bf380b.json
cache/fce53d768691509494a3f1911050c6a038df11e3.json
cache/fb274c79942099151a2eca444de42f5a235dee08.json
cache/e11a06ae709d0843c2af4afdd19b031527c6ce17.json
cache/e9aee8aa65c390e924029d715b96de041818753a.json
cache/dee228bbdc3f6112d5c414a2ddd6e6ccb2978486.json
cache/de62a0aa40531636a1eaca829a902dddbc3ef252.json
cache/d0b72a289048744069c02634b17f3cc104bb5db8.json
cache/cb858729356bc31c0a8b08df6ccb68b97d5b716f.json
cache/5e1a3210aa56eb50305147754f630e9364b0016e.json
cache/5f580eb746ad5201bba73f8040166f30df9045ff.json
cache/79ff190ac2e8f4e95a480901ea732045ee2789da.json
